[Desktop Entry]
Name=Audio Control
Comment=Simple audio controller
Exec=/home/youruser/build-AudioControl-Qt_5_3_2_qt5-Release/AudioControl %F
Icon=/home/youruser/AudioControl/applications/audio.png
Terminal=false
Type=Application
Categories=Network;FileTransfer;Game;